@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --clr-header-top: #f79009;
  --clr-header-bottom: #dacd19; */
  --clr-header-top: #FF8F00;
  --clr-header-bottom: #FFDB00;
  --clr-title: #2e7d46;
  --clr-subTitle: #41b664;
  --BG-2ndSection: #e7e7e7;
  --clr-beige: #F6E96B;

  /*Verdes*/
  --clr-green: #BEDC74; 
  --clr-greenV2: #A2CA71; 
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
}

header:not(header[class="headerQuiz"]) {
  width: 100%;
  padding-bottom: 3px;
  background-color: rgba(255, 238, 0, 0.637);
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .logo-icon {
  text-decoration: none;
  color: initial;
  background: #fff; 
  padding: 5px;
  border: solid 1px;
  border-radius: 50%;
  cursor: pointer;
}
header .logo-text {
  text-decoration: none;
  color: initial;
  font-size: 1.25rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-bar {
  /* background: #5dc246; */
  background: linear-gradient(var(--clr-header-top), var(--clr-header-bottom));
  padding: 0.7rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .option-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.option-list li a {
  text-decoration: none;
  color: #000;
}
.option-list li a:hover {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.6);
  transition: all .25s;
}

/* Footer */
footer:not(footer[class="footerQuiz"]) {
  font-size: 14px;
  /* background: #ffbd59; */
  background: linear-gradient(#ffa825, #ffbd59);
  text-align: center;
}

footer .apartados {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 1.2rem 0;
}
.apartados .informacion {
  text-align: left;
  max-width: 500px;
}
.apartados .apartUniv h4{
  color: #ffe6c9;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 8px;
}
.apartUniv li {
  margin: 5px 0;
}

.list-desarrollador, .list-redesSociales {
  text-align: left;
  list-style: none;
}

.copyright {
  padding: 0.5rem 0;
  background-color: #ffa825;
}

#container-quiz {
  gap: 2rem;
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 1rem;
}

#question {
  background-color: #fcbf6f;
  border: solid 2px #000;
  border-radius: 0 0 10px 10px;
  max-width: 625px;
  overflow: hidden;
}

.headerQuiz, 
.footerQuiz {
  display: grid;
  gap: 1rem;
  text-align: center;
  background-color: #1b1b1b;
  color: white;
  padding: 1.5rem 1rem;
}
.headerQuiz h1 {
  font-size: 25px;
}
.footerQuiz {
  padding: 1rem;
}
.footerQuiz h2 {
  font-size: 20px;
}

#choices {
  display: grid;
  gap: 1.5rem;
  padding: 3rem 1rem;
}

.btnQuiz {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #474747;
  border: solid 1px transparent;
  color: #F5F5DC;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease;
}
.btnQuiz:hover {
  color: #F6E96B;
  border: solid 1px #000;
  background-color: #2c2c2c;
}

.verification {
  max-width: 625px;
  width: 100%;
  position: sticky;
  top: 1px;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  z-index: 1; 
}

.divQuiz {
  background: linear-gradient(#ffca7a, #ffca7ae0,  beige);
  padding: 0 5rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.divQuiz h1 {
  text-transform: uppercase;
}
.divQuiz p {
  font-size: 1.2rem;
}
.divQuiz span {
  font-weight: bold;
}
.divQuiz span.nroDePreguntas {
  color: #704300;
}

.msgCorrect {
  background-color: #1eb357d2;
  font-weight: bold;
}

.msgIncorrect {  
  background-color: #f42a2ad5;
}
.msgIncorrect span {
  font-weight: bold;
}
.msgIncorrect span:last-child {
  color: #ffd6d6;

}


@media screen and (max-width: 625px) {
  .nav-bar {
    display: grid;
    place-content: center;
    padding: 1rem;
  }

  .nav-bar .option-list {
    display: none;
  }

  footer:not(footer[class="footerQuiz"]) {
    text-align: center;
  }

  footer .apartados {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .apartados .informacion {
    text-align: center;
  }

  .list-desarrollador, .list-redesSociales {
    text-align: center;
  }

  .divQuiz h1 {
    font-size: 1.5rem;
  }
  .divQuiz p {
    font-size: 1rem;
  }

  /* .formulario {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
}