@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  z-index: 100;
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #0000006b;
  padding-bottom: 3px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .logo-icon {
  background: #fff; 
  padding: 5px;
  border: solid 1px;
  border-radius: 50%;
}
header .logo-text {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.nav-bar {
  /* background: #5dc246; */
  /* background: linear-gradient( #58b842, #6dda55); */
  background: linear-gradient( #379d4a, #1ab231);
  padding: 0.7rem 2rem;
  border: solid 2px transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .option-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.option-list li a {
  text-decoration: none;
  color: #000;
}
.option-list li a:hover {
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.25s;
}

main {
  max-width: 85%;
  margin: auto;
  position: relative;
  top: 60px;
}

#inicio-INF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0;
}
#inicio-INF h1{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  letter-spacing: 7px;
}
#inicio-INF img{
  width: 400px;
}

hr {
  border: solid 1px rgb(136, 136, 136);
  opacity: 0.2;
}


#significado-origen-INF {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: center;
  padding: 4rem 0;
}
#significado-origen-INF article {
  max-width: 450px;
  background: linear-gradient(rgba(0, 47, 255, 0.253), rgba(255, 255, 255, 0));
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#significado-origen-INF h3 {
  font-size: 1.25rem;
}
#significado-origen-INF p {
  text-align: justify;
  margin: 2rem 0;
  line-height: 1.6rem;
}
#significado-origen-INF img {
  width: 400px;
}
#significado-origen-INF article:hover {
  background: rgba(0, 47, 255, 0.205);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.4s;
}

#tipos-INF {
  text-align: center;
  padding: 4rem 0;
}
#tipos-INF h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
#tipos-INF .tipos-CB {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
#tipos-INF article {
  max-width: 300px;
  padding: 1rem;
  background: linear-gradient(rgba(0, 47, 255, 0.253), rgba(255, 255, 255, 0));
}
#tipos-INF article p{
  margin: 1rem 0;
}


