@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-header: #1ab231;
  --clr-1thSection: #173020;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  z-index: 100;
  position: fixed;
  top: 0%;
  width: 100%;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .logo-icon {
  background: #fff; 
  padding: 5px;
  border: solid 1px;
  border-radius: 50%;
}
header .logo-text {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.nav-bar {
  /* background: #5dc246; */
  background: linear-gradient(var(--clr-header),#23af38, #2cb340, #41b452,  #ffffff00);
  padding: 1rem 2rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .option-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.option-list li a {
  text-decoration: none;
  color: #000;
}
.option-list li a:hover {
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.25s;
}

main {
  position: relative;
  top: 60px;
}

/* Inicio */
#inicio-INF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 5%;
  margin: 3rem 0;
}
#inicio-INF h1{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  letter-spacing: 7px;
}
#inicio-INF img{
  width: 400px;
}

/* 1era Sección */
#significado-origen-INF {
  background-color: var(--clr-1thSection);
  text-align: justify;
  padding: 4rem 5%;
}
#significado-origen-INF hr{
  max-width: 70%;
  margin: 3rem auto;
  border: solid 1px #E0E0E0;
  opacity: 0.3;
}
.significado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}
.sinopsis {
  max-width: 80%;
  width: 100%;
}
.sinopsis h2 {
  font-size: 2.5rem;
  text-shadow: 0 1px 10px #ffffff;
}
.sinopsis p {
  color: #fff;
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
}

.significado img {
  width: 300px;
}
.origen .sinopsis h2{
  text-align: right;
}

/* 2da Sección */
#tipos-INF {
  padding: 4rem 5%;
  display: grid;
  gap: 3rem;
}
#tipos-INF h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
}
.tipos-CB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.tipos-CB .tipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-height: 400px;
  width: 100%;
  margin: auto;
  padding: 2rem 1.5rem;
  background: linear-gradient(rgb(20, 70, 40), rgb(104, 165, 24), transparent);
  border-radius: 1rem;
}
.tipo:hover {
  border: solid 2px black;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  scale: 1.05;
  background: linear-gradient(rgb(20, 70, 40), rgb(76, 165, 24), rgb(118, 197, 28));
  transition: all 0.45s ease;
}
/* .tipo:first-child {
  min-height: 250px;
}
.tipo:last-child {
  min-height: 400px;
} */

.tipos-CB .tipo h3{
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 1px 10px #000;
}
.tipos-CB .tipo p{
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  word-spacing: 2px;
}